modules/XSparrow/project/ximpvd/rng-bootstrap-based.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:xim="http://ximdex.com/schema/1.0" xmlns:xhtml="http://www.w3.org/1999/xhtml" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
                              	<start>
                                    <element name="docxap">
                                                            <interleave>
                                                                    <zeroOrMore>
                                                                    <optional>
                                                                      <ref name="ximlet.class"/>
                                                                    </optional>
                                                            </zeroOrMore>
                                                            <ref name="content.class"/>
                                                    </interleave>

                                    <xim:description>Docxap</xim:description>
                                    </element>
                                 	</start>
                            		<define name="ximlet.class">
                            			<element name="ximlet">
                            				<optional>
                            <ref name="config.class"/>
</optional>
				<optional>
<ref name="menu.class"/>
</optional>
				<optional><ref name="footer.class"/></optional>
				<xim:description>ximlet</xim:description>
				<xim:type>ximlet</xim:type>
			</element>
		</define>

		<define name="content.class">
			<element name="content">
				<oneOrMore>
					<ref name="region.class"/>
				</oneOrMore>
				<xim:description>Content</xim:description>
			</element>
		</define>

		<define name="region.class">
			<element name="region">
				<attribute name="cols">
					<choice>
						<value type="string">12</value>
						<value type="string">11</value>
						<value type="string">10</value>
						<value type="string">9</value>
						<value type="string">8</value>
						<value type="string">7</value>
						<value type="string">6</value>
						<value type="string">5</value>
						<value type="string">4</value>
						<value type="string">3</value>
						<value type="string">2</value>
						<value type="string">1</value>
					</choice>
				</attribute>
                          	<attribute name="offset">
					<choice>
						<value type="string">0</value>
						<value type="string">1</value>
						<value type="string">2</value>
						<value type="string">3</value>
						<value type="string">4</value>
						<value type="string">5</value>
						<value type="string">6</value>
						<value type="string">7</value>
						<value type="string">8</value>
						<value type="string">9</value>
						<value type="string">10</value>
						<value type="string">11</value>
                                          	<value type="string">12</value>
					</choice>
				</attribute>
				<zeroOrMore>
					<interleave>
						<optional> <ref name="section-title.class"/> </optional>
                                          	<optional> <ref name="subtitle.class"/> </optional>
						<optional> <ref name="button.class"/> </optional>
						<optional> <ref name="button-group.class"/> </optional>
						<optional> <ref name="nav-list.class"/> </optional>
						<optional> <ref name="list.class"/> </optional>
						<optional> <ref name="paragraph.class"/> </optional>
						<optional> <ref name="code-block.class"/> </optional>
						<optional> <ref name="image.class"/> </optional>
						<optional> <ref name="image-list.class"/> </optional>
					</interleave>
					<xim:description>Region</xim:description>
				</zeroOrMore>
			</element>
		</define>

		<define name="image.class">
			<element name="image">
				<attribute name="src" xim:type="imageSelector" />
				<attribute name="cols">
					<choice>
						<value type="string">12</value>
						<value type="string">11</value>
						<value type="string">10</value>
						<value type="string">9</value>
						<value type="string">8</value>
						<value type="string">7</value>
						<value type="string">6</value>
						<value type="string">5</value>
						<value type="string">4</value>
						<value type="string">3</value>
						<value type="string">2</value>
						<value type="string">1</value>
					</choice>
				</attribute>
				<xim:description>Image</xim:description>
				<xim:default_content>Image</xim:default_content>
			</element>
		</define>

		<define name="image-list.class">
			<element name="image-list">
				<oneOrMore>
					<ref name="image.class" />
				</oneOrMore>
				<xim:description>Image List</xim:description>
			</element>
		</define>

  		<define name="subtitle.class">
			<element name="subtitle">
				<text />
				<xim:description>Subtitle</xim:description>
				<xim:default_content>[Subtitle]</xim:default_content>
			</element>
		</define>

		<define name="code-block.class">
			<element name="code-block">
				<text />
				<xim:description>Code Block</xim:description>
				<xim:default_content>[Code]</xim:default_content>
			</element>
		</define>

		<define name="section-title.class">
			<element name="section-title">
				<text/>
				<xim:description>Title</xim:description>
				<xim:default_content>[Title]</xim:default_content>
			</element>
		</define>

		<define name="list.class">
			<element name="list">
				<attribute name="type">
					<choice>
						<value type="string">description</value>
						<value type="string">horizontal-description</value>
						<value type="string">orderer</value>
						<value type="string">unorderer</value>
						<value type="string">unstyled</value>
					</choice>
				</attribute>
				<oneOrMore>
					<interleave> <ref name="item.class"/>
						<optional> <ref name="item-header.class"/> </optional>
					</interleave>
				</oneOrMore>
				<xim:description>List</xim:description>
			</element>
		</define>

		<define name="item.class">
			<element name="item">
				<zeroOrMore>
					<interleave>
						<optional> <ref name="bold.class" /> </optional>
						<optional> <ref name="italic.class" /> </optional>
						<optional> <ref name="link.class" /> </optional>
                                                <optional> <ref name="code.class" /> </optional>
					</interleave>
				</zeroOrMore>
				<text/>
				<xim:description>Item</xim:description>
				<xim:default_content>[Item]</xim:default_content>
			</element>
		</define>

		<define name="item-header.class">
			<element name="item-header">
				<text/>
				<xim:description>Item header</xim:description>
				<xim:default_content>[Header]</xim:default_content>
			</element>
		</define>

		<define name="button.class">
			<element name="button">
				<attribute name="text"/>
				<attribute name="icon">
					<choice>
						<value type="string">none</value>
						<value type="string">calendar</value>
						<value type="string">comment</value>
						<value type="string">download</value>
						<value type="string">envelope</value>
						<value type="string">exclamation-sign</value>
						<value type="string">file</value>
						<value type="string">filter</value>
						<value type="string">home</value>
						<value type="string">lock</value>
						<value type="string">off</value>
						<value type="string">ok</value>
						<value type="string">qrcode</value>
						<value type="string">refresh</value>
						<value type="string">remove</value>
						<value type="string">search</value>
                                          	<value type="string">share</value>
						<value type="string">shopping-cart</value>
						<value type="string">thumbs-down</value>
						<value type="string">thumbs-up</value>
						<value type="string">trash</value>
						<value type="string">user</value>
					</choice>
				</attribute>
				<attribute name="type">
					<choice>
						<value type="string">default</value>
						<value type="string">primary</value>
						<value type="string">info</value>
						<value type="string">success</value>
						<value type="string">warning</value>
						<value type="string">danger</value>
						<value type="string">inverse</value>
					</choice>
				</attribute>
				<attribute name="size">
					<choice>
						<value type="string">none</value>
						<value type="string">large</value>
						<value type="string">small</value>
						<value type="string">mini</value>
					</choice>
				</attribute>
				<text/>
				<xim:description>Button</xim:description>
				<xim:default_content>[Button]</xim:default_content>
			</element>
		</define>

		<define name="button-icon.class">
			<element name="button-icon">
				<attribute name="type">
					<choice>
						<value type="string">calendar</value>
						<value type="string">comment</value>
						<value type="string">download</value>
						<value type="string">envelope</value>
						<value type="string">exclamation-sign</value>
						<value type="string">file</value>
						<value type="string">filter</value>
						<value type="string">home</value>
						<value type="string">lock</value>
						<value type="string">off</value>
						<value type="string">ok</value>
						<value type="string">qrcode</value>
						<value type="string">refresh</value>
						<value type="string">remove</value>
						<value type="string">search</value>
						<value type="string">shopping-cart</value>
						<value type="string">thumbs-down</value>
						<value type="string">thumbs-up</value>
						<value type="string">trash</value>
						<value type="string">user</value>
					</choice>
				</attribute>
				<xim:description>Icon</xim:description>
			</element>
		</define>

		<define name="button-group.class">
			<element name="button-group">
				<oneOrMore>
					<ref name="button.class"/>
				</oneOrMore>
			</element>
			<xim:description>Button Group</xim:description>
		</define>

		<define name="nav-list.class">
			<element name="nav-list">
				<zeroOrMore>
					<interleave>
						<optional> <ref name="nav-header.class" /> </optional>
						<optional> <ref name="divider.class" /> </optional>
						<optional> <ref name="item.class" /> </optional>
					</interleave>
				</zeroOrMore>
				<text/>
				<xim:description>Nav list</xim:description>
			</element>
		</define>

		<define name="nav-header.class">
			<element name="nav-header">
				<text/>
				<xim:description>Nav Header</xim:description>
				<xim:default_content>[Header]</xim:default_content>
			</element>
		</define>

		<define name="divider.class">
			<element name="divider">
				<text/>
				<xim:description>Header</xim:description>
			</element>
		</define>

		<define name="paragraph.class">
			<element name="paragraph">
				<zeroOrMore>
					<interleave>
						<optional> <ref name="bold.class"/> </optional>
						<optional> <ref name="italic.class"/> </optional>
						<optional> <ref name="link.class"/> </optional>
						<optional> <ref name="code.class"/> </optional>
					</interleave>
				</zeroOrMore>
				<text/>
				<xim:description>Paragraph</xim:description>
				<xim:default_content>[Paragraph]</xim:default_content>
			</element>
		</define>

		<define name="bold.class">
			<element name="bold">
				<text/>
				<xim:description>Bold</xim:description>
				<xim:type>apply</xim:type>
			</element>
		</define>

                <define name="code.class">
			<element name="code">
				<text/>
				<xim:description>Code</xim:description>
				<xim:type>apply</xim:type>
			</element>
		</define>


		<define name="italic.class">
			<element name="italic">
				<text/>
				<xim:description>Italic</xim:description>
				<xim:type>apply</xim:type>
			</element>
		</define>

		<define name="link.class">
			<element name="link">
				<attribute name="href" xim:type="ximlink"/>
				<attribute name="target">
					<choice>
						<value type="string">_blank</value>
						<value type="string">_self</value>
					</choice>
				</attribute>
				<text/>
				<xim:description>Link</xim:description>
				<xim:default_content>[Link]</xim:default_content>
				<xim:type>apply</xim:type>
			</element>
		</define>
		<!--ximlet de configuración -->
         <define name="config.class">
                       		<element name="config">
                       			<attribute name="background-color"/>
                            	<attribute name="background-image" xim:type="imageSelector"/>
                                <attribute name="background-position">
                                	<choice>
                                       	<value type="string">none</value>
                                        	<value type="string">left top</value>
                                                <value type="string">left center</value>
                                                <value type="string">left bottom</value>
                                                <value type="string">center top</value>
                                                <value type="string">center center</value>
                                                <value type="string">center bottom</value>
                                                <value type="string">right top</value>
                                                <value type="string">right center</value>
                                                <value type="string">right bottom</value>
                                        </choice>
                                </attribute>
                               <attribute name="background-repeat">
                               	<choice>
                                 	<value type="string">no-repeat</value>
                                         <value type="string">repeat</value>
                                         <value type="string">repeat-x</value>
                                         <value type="string">repeat-y</value>
                                 </choice>
                               </attribute>
                       			<attribute name="secundary-color"/>
                       			<attribute name="font-color"/>
                       			<ref name="config-header.class"/>
                        			<ref name="config-container.class"/>
                        			 <ref name="config-footer.class"/>
                       			<xim:description>Configuración</xim:description>
                       		</element>
                       	</define>
                       	<define name="config-header.class">
                       		<element name="config-header">
                                        <attribute name="image" xim:type="imageSelector"/>

                       			<attribute name="image-side">
                       				<choice>
                       					<value type="string">left</value>
                       					<value type="string">right</value>
                       				</choice>
                       			</attribute>
                                   	<attribute name="border">
                       				<choice>
                       					<value type="string">None</value>
                       					<value type="string">All</value>
                                                   <value type="string">Top/Bottom</value>
                                                   <value type="string">Left/Right</value>
                       				</choice>
                       			</attribute>
                                  <attribute name="border-color" />
                       			<ref name="config-header-title.class"/>
                       			<ref name="config-header-subtitle.class"/>
                       			<ref name="config-breadcrumb.class"/>
                                   <xim:description>Header</xim:description>
                       		</element>
                       	</define>
                       	<define name="config-breadcrumb.class">
                       		<element name="config-breadcrumb">
                       			<attribute name="background-color"/>
                       			<attribute name="font-color"/>
                       			<attribute name="current-font-color"/>
                       			<xim:description>Breadcrumb</xim:description>
                       		</element>
                       	</define>
                       	<define name="config-header-title.class">
                       		<element name="config-header-title">
                                  <attribute name="font-color" />
                                        <attribute name="font-size" />
                                         <attribute name="align">
                       				<choice>
                      				<value type="string">left</value>
                                                   <value type="string">center</value>
                                                  <value type="string">right</value>
                      				</choice>
                      			</attribute>
                      			<text/>
                      			<xim:description>Title</xim:description>
                      			<xim:default_content>Your title!</xim:default_content>
                      		</element>
                      	</define>
                      	<define name="config-header-subtitle.class">
                      		<element name="config-header-subtitle">
                                 <attribute name="font-color" />
                                       <attribute name="font-size" />
                                        <attribute name="align">
                      				<choice>
                    					<value type="string">left</value>
                                                  <value type="string">center</value>
                                                  <value type="string">right</value>
                      				</choice>
                      			</attribute>
                      			<text/>
                      			<xim:description>Subtitle</xim:description>
                      			<xim:default_content>Write something about this website</xim:default_content>
                      		</element>
                      	</define>

                      	<define name="config-container.class">
                      		<element name="config-container">
                      		    <attribute name="left_column" >
                      				<choice>
                      					<value type="string">No</value>
                                             		<value type="string">Yes</value>
                      				</choice>
                                  </attribute>
                                  <attribute name="right_column" >
                      				<choice>
                      					<value type="string">No</value>
                                             		<value type="string">Yes</value>
                      				</choice>
                                  </attribute>
                                  <attribute name="background-color"/>
                            	<attribute name="background-image" xim:type="imageSelector"/>
                                <attribute name="background-position">
                                	<choice>
                                       	<value type="string">none</value>
                                        	<value type="string">left top</value>
                                                <value type="string">left center</value>
                                                <value type="string">left bottom</value>
                                                <value type="string">center top</value>
                                                <value type="string">center center</value>
                                                <value type="string">center bottom</value>
                                                <value type="string">right top</value>
                                                <value type="string">right center</value>
                                                <value type="string">right bottom</value>
                                        </choice>
                                </attribute>
                               <attribute name="background-repeat">
                               	<choice>
                                               <value type="string">no-repeat</value>
                                               <value type="string">repeat</value>
                                               <value type="string">repeat-x</value>
                                               <value type="string">repeat-y</value>

                                       </choice>
                               </attribute>
                                  <ref name="config-left-column.class"/>
                                  <ref name="config-main-column.class"/>
                                  <ref name="config-right-column.class"/>
                      			<text/>
                      			<xim:description>Container</xim:description>
                      			<xim:default_content>[Container]</xim:default_content>
                      		</element>
                      	</define>

                              <define name="config-left-column.class">
                      			<element name="config-left-column">
                      				<text/>
                      				<xim:description>Left Column</xim:description>
                      				<xim:default_content>[Left Column]</xim:default_content>
                      			</element>
                              </define>

                              <define name="config-main-column.class">
                      			<element name="config-main-column">
                      				<ref name="config-title-element.class" />
                      				<ref name="config-subtitle-element.class" />
    	              				<ref name="config-link-element.class" />
                      				<text/>
                      				<xim:description>Main Column</xim:description>
                      				<xim:default_content>[Main Column]</xim:default_content>
                      			</element>
                              </define>

                              <define name="config-link-element.class">
                      			<element name="config-link-element">
                      				<attribute name="font-color" />
                      				<attribute name="font-color-hover" />
                      				<attribute name="border-bottom">
                      					<choice>
                      						<value type="string">none</value>
                      						<value type="string">solid</value>
                      						<value type="string">dotted</value>
                      						<value type="string">dashed</value>
                      					</choice>
                      				</attribute>
                      				<text/>
                      				<xim:description>Link-format</xim:description>
                      				<xim:default_content>sample link</xim:default_content>
                      			</element>
                              </define>

                              <define name="config-title-element.class">
                      			<element name="config-title-element">
                      				<attribute name="font-color" />
                      				<attribute name="font-size" />
                      				<attribute name="border-bottom">
                      					<choice>
                      						<value type="string">none</value>
                      						<value type="string">solid</value>
                      						<value type="string">dotted</value>
                      						<value type="string">dashed</value>
                      					</choice>
                      				</attribute>
                      				<attribute name="border-size">
                      					<choice>
                      						<value type="string">0px</value>
                      						<value type="string">1px</value>
                      						<value type="string">2px</value>
                      						<value type="string">3px</value>
                      					</choice>
                      				</attribute>
                      				<text/>
                      				<xim:description>Title-format</xim:description>
                      				<xim:default_content>Define the title format</xim:default_content>
                      			</element>
                              </define>

                            <define name="config-subtitle-element.class">
                      			<element name="config-subtitle-element">
                      				<attribute name="font-color" />
                      				<attribute name="font-size" />
                      				<attribute name="border-bottom">
                      					<choice>
                      						<value type="string">none</value>
                      						<value type="string">solid</value>
                      						<value type="string">dotted</value>
                      						<value type="string">dashed</value>
                      					</choice>
                      				</attribute>
                                            <attribute name="border-size">
                      					<choice>
                      						<value type="string">0px</value>
                      						<value type="string">1px</value>
                      						<value type="string">2px</value>
                      						<value type="string">3px</value>
                      					</choice>
                      				</attribute>
                      				<text/>
                      				<xim:description>Subtitle-format</xim:description>
                      				<xim:default_content>Edit your own subtitle</xim:default_content>
                      			</element>
                              </define>

                              <define name="config-right-column.class">
                      			<element name="config-right-column">
                      				<text/>
                      				<xim:description>Right Column</xim:description>
                      				<xim:default_content>[Right Column]</xim:default_content>
                      			</element>
                              </define>

                      		<define name="config-footer.class">
                      			<element name="config-footer">
                      				<attribute name="background-color"/>
                      				<attribute name="font-color"/>
                      				<xim:description>Footer</xim:description>
                      				<xim:default_content>[Footer]</xim:default_content>
                      			</element>
                      		</define>

	<!--Menu-->
			<define name="menu.class">
			<element name="menu">
				<oneOrMore>
					<interleave>
						<ref name="link-menu.class"/>
						<optional>
<ref name="vertical-divider.class"/>
</optional>
					</interleave>
				</oneOrMore>
				<xim:description>Menu</xim:description>
			</element>
		</define>

		<define name="link-menu.class">
			<element name="link-menu">
				<attribute name="href"/>
				<attribute name="icon">
					<choice>
						<value type="string">none</value>
						<value type="string">calendar</value>
						<value type="string">comment</value>
						<value type="string">download</value>
						<value type="string">envelope</value>
						<value type="string">exclamation-sign</value>
						<value type="string">file</value>
						<value type="string">filter</value>
						<value type="string">home</value>
						<value type="string">lock</value>
						<value type="string">off</value>
						<value type="string">ok</value>
						<value type="string">qrcode</value>
						<value type="string">refresh</value>
						<value type="string">remove</value>
						<value type="string">search</value>
						<value type="string">shopping-cart</value>
						<value type="string">thumbs-down</value>
						<value type="string">thumbs-up</value>
						<value type="string">trash</value>
						<value type="string">user</value>
					</choice>
				</attribute>
				<attribute name="icon-colour">
					<choice>
						<value type="string">white</value>
						<value type="string">black</value>
					</choice>
				</attribute>
				<text/>
				<xim:description>Link</xim:description>
			</element>
		</define>

		<define name="vertical-divider.class">
			<element name="vertical-divider">
				<text/>
				<xim:description>Vertical Divider</xim:description>
			</element>
		</define>



		<define name="footer.class">
		<element name="footer">
			<zeroOrMore>
				<interleave>
					<optional>
<ref name="footer-link-list.class"/>
</optional>
					<optional>
<ref name="footer-paragraph.class"/>
</optional>
				</interleave>
			</zeroOrMore>
			<xim:description>Footer</xim:description>
		</element>
	</define>

	<define name="footer-link-list.class">
		<element name="footer-link-list">
			<oneOrMore>
				<ref name="footer-link.class"/>
			</oneOrMore>
			<xim:description>Link list</xim:description>
		</element>
	</define>

	<define name="footer-link.class">
		<element name="footer-link">
			<attribute name="href" xim:type="documentSelector"/>
			<oneOrMore>
				<ref name="footer-link.class"/>
			</oneOrMore>
			<text/>
			<xim:default_content>[Link]</xim:default_content>
			<xim:description>Link</xim:description>
		</element>
	</define>
	
</grammar>
